h1{
    text-transform: uppercase;
    font-size:1.5rem;
}

h2{
    font-size:1.5rem;
}

h3{
    font-size: 1.25rem;
}

h4{
    font-size: 1.125rem;
}

h5,h6{
    font-size: 1rem;
}

.alert{
    ul{
        margin:0;
    }
}

.font-big{
    font-size:1.5rem;
}

.font-small{
    font-size:.75rem;
}

.dropdown-menu{
    border-radius: 0.75rem;
    padding:0;
    .dropdown-item{
        &:hover{
            cursor: pointer !important;
        }
    }
}

.has-danger{
    .form-control{
        background-color: transparent;
        color: inherit;
    }
}

.card-category{
    text-transform: none;
    font-size:.875rem;
}
